@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    background-color: #000;
    color: #eee;
    font-family: Poppins, sans-serif;
    font-size: 12px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

header {
    width: 1140px;
    max-width: 90%;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
}

header a {
    color: #eee;
    margin-right: 40px;
}

header a:hover {
    background: #000;
    border: 3px solid gray;
    border-radius: 25px;
    padding: 5px;
    transition: all ease 0.2s;
    transform: scale(20px);
}

header img {
    margin-right: 25px;
    width: 130px;
    height: auto;
}

/* slider */
.slider {
    height: 100vh;
    margin-top: -50px;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.slider .lista .elemento {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}

.slider .lista .elemento img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .lista .elemento .contenido {
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}

.slider .lista .elemento .autor {
    font-weight: bold;
    letter-spacing: 10px;
}

.slider .lista .elemento .titulo,
.slider .lista .elemento .tema {
    font-size: 5em;
    font-weight: bold;
    line-height: 1.3em;
}

.slider .lista .elemento .tema {
    color: #f1683a;
}

.slider .lista .elemento .botones {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}

.slider .lista .elemento .botones button {
    border: none;
    background-color: #eee;
    letter-spacing: 3px;
    font-family: Poppins;
    font-weight: 500;
}

.slider .lista .elemento .botones button:nth-child(2) {
    background-color: transparent;
    border: 1px solid #fff;
    color: #eee;
}


.boton {
    background-color: #f1683a;
    color: #000;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
  
.boton:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* miniatura */
.miniatura {
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}

.miniatura .elemento {
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}

.miniatura .elemento img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.miniatura .elemento .contenido {
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.miniatura .elemento .contenido .titulo {
    font-weight: 500;
}

.miniatura .elemento .contenido .descripcion {
    font-weight: 300;
}

.bordetitulo {
    border: 2px solid #ffffff;
    border-radius: 15px;
    padding: 1px 15px;
    margin: 0 2px;
}

.spanh3{
    color: #0fffff;
}

/* flechas */
.flechas {
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.flechas button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
}

.flechas button:hover {
    background-color: #fff;
    color: #000;
}

/* animación */
.slider .lista .elemento:nth-child(1) {
    z-index: 1;
}

/* animación del texto en el primer elemento */
.slider .lista .elemento:nth-child(1) .contenido .autor,
.slider .lista .elemento:nth-child(1) .contenido .titulo,
.slider .lista .elemento:nth-child(1) .contenido .tema,
.slider .lista .elemento:nth-child(1) .contenido .descripcion,
.slider .lista .elemento:nth-child(1) .contenido .botones {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: mostrarContenido .5s 1s linear 1 forwards;
}

@keyframes mostrarContenido {
    to {
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.slider .lista .elemento:nth-child(1) .contenido .titulo {
    animation-delay: 1.2s !important;
}

.slider .lista .elemento:nth-child(1) .contenido .tema {
    animation-delay: 1.4s !important;
}

.slider .lista .elemento:nth-child(1) .contenido .descripcion {
    animation-delay: 1.6s !important;
}

.slider .lista .elemento:nth-child(1) .contenido .botones {
    animation-delay: 1.8s !important;
}

/* crear animación cuando se haga clic en siguiente */
.slider.siguiente .lista .elemento:nth-child(1) img {
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: mostrarImagen .5s linear 1 forwards;
}

@keyframes mostrarImagen {
    to {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.slider.siguiente .miniatura .elemento:nth-last-child(1) {
    overflow: hidden;
    animation: mostrarMiniatura .5s linear 1 forwards;
}

.slider.anterior .lista .elemento img {
    z-index: 100;
}

.slider.siguiente .miniatura {
    animation: efectoSiguiente .5s linear 1 forwards;
}

@keyframes efectoSiguiente {
    from {
        transform: translateX(150px);
    }
}

/* tiempo corriendo */
.slider .tiempo {
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: #f1683a;
    left: 0;
    top: 0;
}

.slider.siguiente .tiempo,
.slider.anterior .tiempo {
    animation: tiempoCorriendo 3s linear 1 forwards;
}

@keyframes tiempoCorriendo {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

/* clic en anterior */
.slider.anterior .lista .elemento:nth-child(2) {
    z-index: 2;
}

.slider.anterior .lista .elemento:nth-child(2) img {
    animation: fueraDeMarco 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}

@keyframes fueraDeMarco {
    to {
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.slider.anterior .miniatura .elemento:nth-child(1) {
    overflow: hidden;
    opacity: 0;
    animation: mostrarMiniatura .5s linear 1 forwards;
}

.slider.siguiente .flechas button,
.slider.anterior .flechas button {
    pointer-events: none;
}

.slider.anterior .lista .elemento:nth-child(2) .contenido .autor,
.slider.anterior .lista .elemento:nth-child(2) .contenido .titulo,
.slider.anterior .lista .elemento:nth-child(2) .contenido .tema,
.slider.anterior .lista .elemento:nth-child(2) .contenido .descripcion,
.slider.anterior .lista .elemento:nth-child(2) .contenido .botones {
    animation: contenidoFuera 1.5s linear 1 forwards !important;
}

@keyframes contenidoFuera {
    to {
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

@media screen and (max-width: 678px) {
    .slider .lista .elemento .contenido {
        padding-right: 0;
    }

    .slider .lista .elemento .contenido .titulo {
        font-size: 30px;
    }
}


#contenedor {
    width: 1150px;
    height: 500px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content:space-around;
    margin: 60px;
    box-shadow: 0 4px 8px rgb(25, 0, 255);
    transition: transform 0.3s, box-shadow 0.3s;
}

#contenedor:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgb(0, 183, 255);
}

/* Estilos para el video de fondo */
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    opacity: 0.7;
}

.video-background video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contenido h1 {
    text-align: center;
}

.primera-fila {
     display: flex;
}

.propietario {
    width: 100%;
    margin-right: 40px;
}

.campo-entrada {
    border: 1px solid #999;
}

.campo-entrada input {
    width: 100%;
    border:none;
    outline: none;
    padding: 10px;
}

.seleccion {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.seleccion select {
    padding: 10px 20px;
}

.parael-a{
    background-color: blueviolet;
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    transition: 0.5s;
}

.parael-a:hover{
    background-color: dodgerblue;
}

.tarj img{
    width: 100px;
}

footer {
    text-align: center;
    height: 0 auto;
    width: 100vw;
    padding: 20px 0;
}

h1 {
    text-align: center;
}